<!doctype html>
<html ng-app="phonecatApp">
<head>
  <link rel="stylesheet" href="main.css" />
  <!-- endbower -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
</head>
<body ng-controller="PhoneListCtrl">
  <div class='container' ng-submit="encrypt(data)">
    <div class="main-box">
      <form>
        <div>
          <div class="option-box">
            <label>Type</label>
            <select ng-model="data.type" class="form-control" ng-init="data.type = types[0]" required>
              <option value="{{type}}" ng-repeat="type in types">{{type}}</option>
            </select>
          </div>
          <div ng-if="data.type === 'hash'">
            <div class="option-box">
              <label>Algorithm</label>
              <select ng-model="data.hashAlg" class="form-control" ng-init="data.hashAlg = hashTypes[0]" required>
                <option value="{{hash}}" ng-repeat="hash in hashTypes">{{hash}}</option>
              </select>
            </div>

        
            <div class="option-box">
              <label>Encoding</label>
              <select ng-model="data.digest" class="form-control" ng-init="data.digest = encodingTypes[0]" required>
                <option value="{{encoding}}" ng-repeat="encoding in encodingTypes">{{encoding}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="insert-box">
          <div class="form-group">
            <label>Encoding Password</label>
            <input type="text" class="form-control" id="encode" placeholder="Encoding Password" ng-model="data.string" required>
          </div>
        


          <div class="form-group">
            <label>Encoded Password</label>
            <textarea class="form-control" rows="2" readonly>{{ key }}</textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>  
    </div>
  </div>


  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- endbower -->

  <!-- custom js -->
  <script type="text/javascript" src="build/bundle.js"></script>
  <!-- end -->
</body>
</html>