.main-box{
  padding-top: 50px; 
  width: 500px;
  margin: auto;
}

.algorithm-box{
  width: 100px;
  margin: 15px;
}

.insert-box{
  width: 100%;
}

.option-box{
  display: inline-block;
  width: 100px;
  margin: 15px;
}